select {
  text-align:center;
  font-size:2em;
  border:none;
  background-color:inherit;
  border-bottom:2px solid red;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:hover{
  cursor:pointer;
}

select > option {
  background:pink;
}

